---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À Propos | Esteban.ND" description="À propos de Esteban N.D">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À Propos"
				tagline="Merci de votre visite. Lisez ci-dessous pour en savoir plus sur moi et mon parcours."
			>
				<img
					width="1553"
					height="873"
					src="/assets/imageAboutPart.png"
					alt="coucou"
				/>
			</Hero>
			
			
			<section>
				<h2 class="section-title">Parcours</h2>
				<div class="content">
					<p>
                        En tant que développeur indépendant, je me spécialise dans des langages de programmation tels que le C, le C# et Python, apportant polyvalence et expertise aux projets de développement logiciel et web.
                    </p>
                    <p>
                        Mon expérience inclut le développement de logiciels et de scripts en C, C# et Python, ainsi que la création de pages web dynamiques et réactives. Ma maîtrise de l'anglais et de l'espagnol facilite une communication fluide.
                    </p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					
					<p>
                        Actuellement en deuxième année de la classe préparatoire intégrée à l'EPITA, une école d'ingénieurs en informatique de premier plan en France.
                    </p>
                    <p>
                        De plus, je suis enthousiaste à l'idée de suivre un semestre d'études au Tecnológico de Monterrey au Mexique. Le Tecnológico de Monterrey est une institution prestigieuse, constamment classée parmi les 45 meilleures universités mondiales avec une notation de 5 étoiles selon le classement mondial des universités QS.
                    </p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>
                        En tant que développeur créatif, je possède une gamme de compétences diverses en développement web et langages de programmation.
                    </p>
                    <p>
                        Compétent dans des langages tels que le C, le C# et Python, j'excelle dans le développement de pages web dynamiques et la résolution de divers défis techniques.
                    </p>
                    <p>
                        Atteignant un niveau B2 en anglais et en espagnol (score TOEIC : 881), j'assure une communication efficace dans des environnements multiculturels, améliorant la collaboration sur divers projets internationaux.
                    </p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
