---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Esteban.ND" description="About Jeanine White Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/imageAboutPart.png"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>
			
			
			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I am a dedicated freelance developer with a strong background in programming languages such as C, C#, and Python. Specializing in both software development and web development, I bring versatility and expertise to every project I undertake.
					</p>
					<p>
						My freelance journey has allowed me to work on a variety of projects, ranging from backend system development to creating dynamic and responsive web pages. I am passionate about crafting efficient and elegant solutions that meet the unique needs of my clients.
					</p>
					<p>
						In addition to my technical skills, I am fluent in both English and Spanish, facilitating seamless communication and collaboration with clients and collaborators from diverse linguistic backgrounds. My commitment to delivering high-quality results and my proficiency in multiple programming languages make me a valuable asset in the ever-evolving field of technology.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					 <p>
            Currently in my second year of the integrated preparatory class at EPITA, a leading engineering school in computer science based in France.
        </p>
        <p>
            Additionally, I am excited to embark on a semester of study at Tecnológico de Monterrey in Mexico. Tecnológico de Monterrey is a prestigious institution, consistently ranked among the top 45 universities worldwide with a 5-star rating according to QS World University Rankings.
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					 <p>
            As a creative developer, I possess a diverse skill set that spans both web development and programming languages. Proficient in developing dynamic and visually appealing web pages, I bring a keen eye for design and functionality to every project.
        </p>
        <p>
            My expertise extends to coding in languages such as C, C#, and Python, allowing me to tackle a wide range of technical challenges. Whether it's building robust backend systems or creating efficient algorithms, I am well-versed in leveraging these programming languages to deliver effective solutions.
        </p>
        <p>
            Additionally, I am proud to have achieved a B2 level in both English and Spanish, as evidenced by an 881 score on the TOEIC exam. This language proficiency enables effective communication in multicultural environments, making me adaptable to collaborate on diverse and international projects.
        </p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
